<div class="row home-screen">
  <div class="col-lg-12">
    <h1>My name is Jack :D</h1>
    <p>
      This is my resumé website! My full name is Jack Zhang and I am software developer that lives in Durham, North Carolina. 
      <br>
      Here are some facts about me:
    </p>

    <ul class="list-group">
      <li class="list-group-item">I graduated from Duke University with a BA in Computer Science and Minors in Economics and Statistics.</li>
      <li class="list-group-item">I currently work at Fidelity Investments.</li>
      <li class="list-group-item">I enjoy watching movies and television series. I highly recommend West world and black mirror.</li>
      <li class="list-group-item">I like trying new things and learning/mastering new hobbies.</li>
      <li class="list-group-item">I am a quick study. This app was made less than 24 hours :)</li>
    </ul>                      
  </div>
</div>