<div class="row home-screen">
  <div class="col-lg-12">
    <h1>What I know</h1>
    <h3>Languages</h3>
    <ul class="list-group">
      <li class="list-group-item">I graduated from Duke University with a BA in Computer Science and Minors in Economics and Statistics.</li>
      <li class="list-group-item">I currently work at Fidelity Investments.</li>
      <li class="list-group-item">I enjoy watching movies and television series.</li>
      <li class="list-group-item">I like trying new things and learning/mastering new hobbies.</li>
      <li class="list-group-item">I make really cool <a href="http://imgur.com/26uDBND">Christmas cards</a> with my roommate.</li>
    </ul>                          
  </div>
</div>