<div class="row home-screen">
  <div class="col-lg-12">
    <h1>What I know</h1>
    <h3>Languages:</h3>
    <ul class="list-group">
      <li class="list-group-item">
      	<span class="col-sm-3">Java</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      	</span>      	
      </li>
      <li class="list-group-item">
      	<span class="col-sm-3">Javascript:</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      	</span>
      </li>
      <li class="list-group-item">
      	<span class="col-sm-3">HTML and CSS</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      	</span>      	
      </li>
      <li class="list-group-item">
      	<span class="col-sm-3">Linux:</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star-o" aria-hidden="true"></i>
      	</span>      	
      </li>
      <li class="list-group-item">
      	<span class="col-sm-3">Python</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star-half-o" aria-hidden="true"></i>
      		<i class="fa fa-star-o" aria-hidden="true"></i>
      	</span>      	
      </li>
      <li class="list-group-item">
      	<span class="col-sm-3">C++, PHP, Ruby on Rails</span>
      	<span class="rating">
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star" aria-hidden="true"></i>
      		<i class="fa fa-star-o" aria-hidden="true"></i>
      		<i class="fa fa-star-o" aria-hidden="true"></i>
      	</span>      	
      </li>
    </ul>                          
  </div>
</div>